.ListOfTasks{
    /*margin: 20px 0 0 0;*/
    /*height: 100vh;*/
    /*background-color: #fff;*/
}

.background-style{
    padding: 3%;
    background-color: #fff;
    border: 0;
}

.count-text{
    text-align: right;
    color: #e04255;
}