@import "../globalStyles.scss";

.List-directory {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px 0 0;
  list-style: none;
  width: 30%;
  border-right: 1px solid $color-light-gray;

  h1 {
    text-align: center;
    margin-bottom: 30px !important;
  }
}
.direct-style-text {
  font-family: $main-font;
  font-size: 30px;
}

.contentNoDirectories {
  height: 50%;
  display: flex;

  h1 {
    width: 100%;
    align-self: flex-end;
    color: $color-gray;
  }
}

.task-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  font-family: $main-font;
  border-bottom: 1px solid $color-light-gray;

  &:hover {
    background-color: $color-light-gray;
  }

  i {
    margin: 0;
  }
}

.label-content {
  width: 100%;
  height: 50px;
}

.button-style {
  display: flex;
  justify-content: center;
  height: 50px;
  align-content: center;
  width: 20%;

  button {
    outline: none;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    width: 100%;

    &:hover {
      background-color: $color-main;
      color: $color-white;
      transition: 0.2s ease;
    }
  }
}

.link-style {
  width: 100%;
  color: black;

  &:hover {
    color: black;
  }
  &:focus {
    .label-content {
      margin-left: 10px;
      transition: 0.2s ease;
      color: $color-main;
      font-size: medium;
    }
  }
}
