@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

//fonts
$main-font: 'Montserrat';
//colors
$main-color-1: #e04255;
$main-color-2: #e0e1e2;
$main-color-3: #bfbfbf;


.app {
  display: flex;
  justify-content: center;
  background-color: #f0efe9;
  min-height: 100vh;
}
.app-content{
  display: flex;
  min-width: 90%;
  padding: 1%;
  min-height: 100vh;
  background-color: #fff;
  box-shadow: 2px 9px 19px #888886;
}
