@import '../../globalStyles';


.top-listOfTasks{
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-bottom: 2px solid $blue-main-color;
  border-radius: 10px 10px 0 0;
  background-color: $gray-main-color;
  height: 47px;

  [data-1],[data-2],[data-3],[data-4]{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 40px);
  }

  [data-1]{
    width: 10%;
    padding: 5px;
  }
  [data-2]{
    width: 10%;
  }
  [data-3]{
    width: 70%;
    justify-content: start!important;
  }
  [data-4]{
    width: 10%;
  }
  p{
    margin: 0;
  }
}

.listOfTasks{
  display: flex;
  flex-direction: column;
  padding: 0 0 20px 0;
  border-radius: 0 0 10px 10px;
  background-color: $gray-main-color;
  height: calc(70% - 45px);
  overflow: auto;
}