@import '../App/App';


.directory-add-button{
  align-self: center;
  padding: 0;
  width: 50px;
  height: 50px;
  border: 1px solid $main-color-1;
  border-radius: 50px;
  background-color: $main-color-1;
  color: #ffffff;
  margin: 20px 0;

  i{
    margin: 0;
  }

  &:hover{
    cursor: pointer;
    border: 1px solid #ffffff;
    outline: none;
  }
  &:focus{
    outline: 0;
  }
}
.modal-top-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 10px 20px;
  margin: 0 0 10px 0;
  border-bottom: 1px solid $main-color-2;
  font-family: $main-font;

  p{
    margin: 0;
    font-size: medium;
  }
}
.modal-exit-butt{
  padding: 0;
  outline: none;
  border: none;
  cursor: pointer;

  i{
    margin: 0;
  }
}
.modal-main-content{
  padding: 20px;
}
.modal-input{
  height: 50px;
  border-radius: 5px;
  padding: 0 20px;

  input{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid $main-color-2;
    padding: 10px 20px;
    font-family: $main-font ;

    &::placeholder{
      font-size: 15px;
      font-family: $main-font ;
    }

    &:hover{
      border: 1px solid $main-color-3;
      transition: 0.1s ;
      cursor: pointer;
    }

    &:focus{
      border: 1px solid $main-color-3;
      cursor: text;
      outline:none;
    }
  }
  button{
    align-self: center;
    padding: 0;
    width: 50px;
    height: 50px;
    border: 1px solid $main-color-1;
    border-radius: 50px;
    background-color: $main-color-1;
    color: #ffffff;
    margin: 20px 0;
    position: relative;
    top: -35px;
    right: -42%;

    &:active{
      transform: translateY(1px);
      filter: saturate(150%);
    }

    &:hover{
      filter: saturate(120%);
      cursor: pointer;
    }

    &:focus{
      outline: none;
    }

    i{
      margin: 0;
      color: #fff;
    }
  }
}