@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
$main-font: "Montserrat";

$color-main: #e04255;
$color-gray: #bfbfbf;
$color-white: #fff;

//new colors
$background-color-1: #f8f8f8;
$blue-main-color: #4050b5;
$gray-main-color: #f1f2f7;
$gray-color: #515151;

.container {
  padding: 10px 2% 0;
}

.txt-center {
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
}

.w-400 {
  width: 500px;
}

.flex-d {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root{
  min-height: 100vh;
}
