.container{
  padding: 10px 2% 0;
}

.txt-center{
  text-align: center;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
  /*list-style-type: none;*/
}

li{
  margin: 0;
}

.w-400{
  width: 500px;
}

.flex-d{
  display: flex;
  justify-content: center;
  align-items: center;
}
