@import "../../../globalStyles";

//.task-style {
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//  min-height: 50px;
//  font-family: $main-font;
//  border-bottom: 1px solid $color-light-gray;
//
//  &:hover {
//    background-color: rgba($color-light-gray, 0.8);
//  }
//}

.task-tablet-style{
  display: flex;
  //flex-direction: row;
  //width: 150px;
  justify-content: space-between;
  align-items: center;
  min-height: 46px;
  background-color: $gray-main-color;
  border-bottom: 1px solid $blue-main-color;
  padding: 0 20px;
  //border-radius: 20px;


  [data-tab-1],[data-tab-2],[data-tab-3],[data-tab-4]{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 40px);
  }

  [data-tab-1]{
    width: 10%;
    padding: 5px;

    [type="checkbox"]{
      height: 17px;
      width: 17px;
    }
  }
  [data-tab-2]{
    width: 10%;
  }
  [data-tab-3]{
    width: 70%;
    justify-content: start!important;
  }
  [data-tab-4]{
    width: 10%;
  }
}

.checked{
  text-decoration: line-through;
  background-color: #4050b52e;
  //color: black;
  //opacity: 0.9;
  //color: $blue-main-color;
}



//.checkbox {
//  display: flex;
//  align-items: center;
//  padding-left: 20px;
//  height: 48px;
//  width: 100%;
//  cursor: pointer;
//  user-select: none;
//
//  input {
//    opacity: 0;
//  }
//}
//
//.checkbox-indicate {
//  height: 20px;
//  width: 20px;
//  background: $color-gray;
//
//  &:hover {
//    opacity: 0.8;
//  }
//}

.true {
  background: $color-main;
  //text-decoration: line-through;

  &::after {
    content: "";
    position: absolute;
    display: block;
    left: 27px;
    width: 7px;
    height: 15px;
    border: solid $color-white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}
//
.task-buttons {
  //right: -40px;
  //position: relative;

  button {
    outline: none;
    border: 0;
    cursor: pointer;
    background-color: transparent;
  }

  i {
    color: $gray-color;

    &:hover {
      color: $color-main;
    }
  }
}

//.hide {
//  opacity: 0;
//}
//.show {
//  opacity: 1;
//  margin-right: 50px;
//  transition: 0.2s ease;
//}
